$dark:                  #232323 !default;

$bar-dark-bg:           #232323 !default;
$font-family-sans-serif: 'Segoe UI' !default;
$font-family-light-sans-serif: 'Segoe UI' !default;
$font-family-serif: 'Segoe UI' !default;
$font-family-monospace: 'Segoe UI' !default;
$font-family-base: $font-family-sans-serif !default;

@import "ionic/ionic";