<!-- Author - Conor Hayes
    Coding Standards -> http://docs.ckan.org/en/latest/contributing/html.html
    -->

<br />
<!-- Create the card to hold the items and ng-repeat to create all of them -->
<div class="col-md-3 col-sm-6 repeat-animation" ng-repeat="auction in auctions | orderByPriority">
    <!-- Contains all auction details -->
    <div class="thumbnail shadow">
        <a href="#/auction/{{auction.$id}}">
            <img ng-src="{{auction.image}}" />
        </a>
        <div class="caption">
            <h4 class="pull-right">{{auction.current_bid | currency:"&euro;"}}</h4>
            <h4><a href="">{{auction.name}}</a></h4>
            <h5 ng-show="auction.winner !== ''">Winner: {{auction.winner}}</h5>
            <h5>Status: {{auction.status}}</h5>
        </div>
        <!-- View the auction details -->
        <a href="#auction/{{auction.$id}}">
            <button type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-search"></span> View</button>
        </a>
    </div>
</div>