<!-- Author - Conor Hayes
    Coding Standards -> http://docs.ckan.org/en/latest/contributing/html.html
    -->

<br />
<div class="col-sm-5 col-lg-5 col-md-5">
    <div class="thumbnail shadow">
        <!-- Directive for item images in different file -->
        <product-gallery></product-gallery>
        <div class="caption">
            <h4>{{item.item.name}}</h4>
            <!-- Directive for item tabs in different file -->
            <product-tabs></product-tabs>
        </div>
    </div>
    <button ng-show="{{1==1}}" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> Register</button>
    <a ng-href="#items"><button class="btn btn-sm btn-primary" ng-click=""><i class="icon ion-ios7-arrow-left"></i> Back To Auctions</button></a>
</div>